In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('words.csv', index_col='Word')

In [4]:
df.head()

        Char Count  Value
Word
aa               2      2
aah              3     10
aahed            5     19
aahing           6     40
aahs             4     29

### Activities

##### How many elements does this dataframe have?

In [6]:
df.shape
df.info()

(172821, 2)

##### What is the value of the word `microspectrophotometries`?

In [7]:
df.loc['microspectrophotometries', 'Value']

317

##### What is the highest possible value of a word?

In [8]:
df.describe()
df.max()
df['Value'].max()

          Char Count          Value
count  172821.000000  172821.000000
mean        9.087628     107.754179
std         2.818285      39.317452
min         2.000000       2.000000
25%         7.000000      80.000000
50%         9.000000     103.000000
75%        11.000000     131.000000
max        28.000000     319.000000

##### Which of the following words have a Char Count of `7` and a Value of `87`?

In [13]:
df.loc[[
    "glowing",
    "pinfish",
    "superheterodyne",
    "microbrew",
    "enfold"
], ['Value', 'Char Count' ]]

                 Value  Char Count
Word
glowing             87           7
pinfish             81           7
superheterodyne    198          15
microbrew          106           9
enfold              56           6

##### What is the highest possible length of a word?

In [14]:
df.describe()

          Char Count          Value
count  172821.000000  172821.000000
mean        9.087628     107.754179
std         2.818285      39.317452
min         2.000000       2.000000
25%         7.000000      80.000000
50%         9.000000     103.000000
75%        11.000000     131.000000
max        28.000000     319.000000

##### What is the word with the value of `319`?

In [ ]:
df[df['Value'] == 319]

##### What is the most common value?

In [ ]:
df['Value'].describe()
df['Value'].mode()
df['Value'].value_counts().head()

##### What is the shortest word with value `274`?

In [16]:
df.loc[df['Value'] == 274].sort_values(by=['Char Count'], ascending=True)
df.loc[
    (df['Value'] == 274) &
    (df['Char Count'] == df.loc[df['Value'] == 274, 'Char Count'].min())
]

                      Char Count  Value
Word
overprotectivenesses          20    274

##### Create a column `Ratio` which represents the 'Value Ratio' of a word

In [17]:
df['Ratio'] = df['Value'] / df['Char Count']

##### What is the maximum value of `Ratio`?

In [23]:
df['Ratio'].max()

22.5

##### What word is the one with the highest `Ratio`?

In [22]:
df.sort_values(by=['Ratio'], ascending = False)
df.loc[df['Ratio'] == df['Ratio'].max()]

      Char Count  Value  Ratio
Word
xu             2     45   22.5

##### How many words have a `Ratio` of `10`?

In [30]:
df.loc[df['Ratio'] == 10]
df['Ratio'].value_counts()
df.query("`Ratio` == 10").shape

(2604, 3)

##### What is the maximum `Value` of all the words with a `Ratio` of `10`?

In [33]:
df.loc[df['Ratio'] == 10].sort_values(by=['Value'], ascending=False)
df.loc[df['Ratio'] == 10,'Value'].max()

                          Char Count  Value  Ratio
Word
electrocardiographically          24    240   10.0
electroencephalographies          24    240   10.0
electroencephalographer           23    230   10.0
phonocardiographic                18    180   10.0
inconceivabilities                18    180   10.0
...                              ...    ...    ...
web                                3     30   10.0
bug                                3     30   10.0
elm                                3     30   10.0
as                                 2     20   10.0
oe                                 2     20   10.0

[2604 rows x 3 columns]

##### Of those words with a `Value` of `260`, what is the lowest `Char Count` found?

In [36]:
df.loc[df['Value'] == 260].sort_values(by=['Char Count'], ascending=True)
mean_char_count = df['Char Count'].mean()
df.query("`Char Count` > @mean_char_count")

              Char Count  Value      Ratio
Word
aardwolves            10    120  12.000000
abacterial            10     72   7.200000
abandoners            10     93   9.300000
abandoning            10     81   8.100000
abandonment           11    103   9.363636
...                  ...    ...        ...
zygomorphies          12    176  14.666667
zygomorphy            10    168  16.800000
zygosities            10    154  15.400000
zygospores            10    165  16.500000
zymologies            10    146  14.600000

[67582 rows x 3 columns]

##### Based on the previous task, what word is it?